{% extends "base.html" %}

{% block content %}
  <div class="col-12">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <h3 class="mb-4">Participations à la soutenance de {{ soutenance.doctorant }}</h3>

    <table class="table mb-3">
      <div class="table-responsive">
        <table class="table align-middle">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Participant</th>
              <th scope="col">Don</th>
              <th scope="col">Réglée ?</th>
            </tr>
          </thead>

          <tbody>
            {% for donation in soutenance.donations %}
              <tr>
                <th scope="row">
                  <div class="btn-group btn-group-sm">
                    <a href="{{ url_for('main.modifier_donation', id=donation.id) }}" class="btn btn-outline-primary" role="button">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                      </svg>
                    </a>
                    <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="{{ '#deleteModal-' + donation.id }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                      </svg>
                    </button>
                  </div>
                </th>
                <td>{{ donation.donateur }}</td>
                <td>{{ donation.don }} &euro;</td>
                <td>
                  <div class="form-check d-flex align-items-center">
                    {% if donation.is_settled %}
                      <input type="checkbox" class="form-checkbox-input" checked disabled/>
                    {% else %}
                      <input type="checkbox" class="form-checkbox-input" disabled/>
                    {% endif %}
                  </div>
                </td>
              </tr>

              <!-- Delete modal -->
              <div class="modal fade" id="{{ 'deleteModal-' + donation.id }}" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M7.938 2.016a.146.146 0 0 0-.054.057L1.027 13.74a.176.176 0 0 0-.002.183c.016.03.037.05.054.06.015.01.034.017.066.017h13.713a.12.12 0 0 0 .066-.017.163.163 0 0 0 .055-.06.176.176 0 0 0-.003-.183L8.12 2.073a.146.146 0 0 0-.054-.057A.13.13 0 0 0 8.002 2a.13.13 0 0 0-.064.016zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                          <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                        </svg>
                        <span>&nbsp;Supprimer donation ?</span>
                      </h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                      <p>Êtes vous sûr de vouloir supprimer la donation de {{ donation.donateur }} ?</p>
                    </div>

                    <div class="modal-footer">
                      <button class="btn btn-light" data-bs-dismiss="modal">Non</button>
                      <form method="POST" action="{{ url_for('main.supprimer_donation', id=donation.id) }}">
                        <button class="btn btn-danger" type="submit">Oui</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </table>
  </div>
{% endblock %}