{% extends "base.html" %}

{% block content %}
  <div class="col-8">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <h3 class="mb-3">Qu'est ce que la CoSouDo ?</h3>
    <p>
      La COllecte de SOUtenance des DOctorants (CoSouDo) est une organisation gérée bénévolement par un groupe de doctorants du Laboratoire de Mathématiques d'Orsay (LMO). Elle se charge de lever des fonds pour offrir des cadeaux aux jeunes docteurs le jour de leur soutenance.
    </p>
    <p>
      Quand un doctorant du LMO annonce publiquement sa soutenance, nous nous mettons à la recherche d'un volontaire pour acheter ses cadeaux et nous ouvrons une collecte. Les autres doctorants peuvent alors nous faire parvenir leurs promesses de dons en utilisant cette interface, puis nous nous chargeons du recouvrement.
    </p>
    <p>
      Ses membres sont actuellement Cyril Falcon (Bureau 2R21), Louise Gassot (Bureau 3A20) et Armand Riera (Bureau 3A3).
    </p>
    <p class="text-danger">
      Attention, on rappelle que ce site n'est qu'une plateforme pour récolter des <strong>promesses</strong> de dons et des idées de cadeaux. &Agrave; aucun moment une transaction financière vous sera demandée sur celui-ci. Il sera toujours nécessaire d'aller voir les membres de la CoSouDo pour régler vos dettes.
    </p>
  </div>

  <div class="col-4">
    <h3 class="mb-3">Prochaines soutenances</h3>
    {% if soutenances|length == 0 %}
      <p class="text-center">Pas de soutenances prévues 🙁</p>
    {% else %}
      <div class="list-group">
        {% for soutenance in soutenances %}
          <a href="{{ url_for('main.donation_ou_cadeau', id=soutenance.id) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            {{ soutenance.doctorant }}
            <span class="badge bg-primary rounded-pill">{{ moment(soutenance.date).format('ll') }}</span>
          </a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}